body {
	background-color: #241b2e;
	font-family: "Tahoma", sans-serif;
	color: #241b2e;
}

header {
	color: #886688;
	line-height: 24pt;
	border-bottom: 3px solid #886688;
}

header h1 {
	margin: 2.5pt 0;
	font-family: 'Bitter', serif;
	font-size: 2em;
}

header a,
header a:visited {
	color: #886688;
}

header a:hover,
header a:focus {
	color: #997799;
}

main {
	padding: 10px;
	box-shadow: 0 0 10px #000;
	background-color: #b89e95;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.wrapper {
	width: 410px;
	height: 70%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.header-icons {
	float: right;
}