body {
	background-color: #261d30;
	font-family: Georgia, serif;
	font-size: 10pt;
	color: #886688;
}



.wrapper {
	width: 450px;
	height: 70%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main-col {
	float: left;
	width: 400px;
	margin: 0;
	padding: 0;
}

.side-col {
	font-size: 2.5em;
	float: left;
	margin-left: 8px;
	margin-top: 2px;
	line-height: 1.05em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bitter', serif;
}

header#page-header {
	line-height: 24pt;
	border-bottom: 3px solid #886688;
}

header h1 {
	margin: 2.5pt 0;
	font-size: 2.5em;
}

a,
a:visited {
	color: #886688;
}

a:hover,
a:focus {
	color: #997799;
}

.header-icons {
	float: right;
}


main {
	color: #241b2e;
	padding: 10px;
	margin-bottom: 30px;
	box-sizing: border-box;
	box-shadow: 0 0 10px #000;
	background-color: #b89e95;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

main header {
	text-align: center;
}

main h2 {
	text-transform: capitalize;
	font-size: 1.2em;
	line-height: 0.1em;
	margin: 16px 0;
	border-bottom: 3px double #543b4e;
}

main h2 > span {
	padding: 6pt;
	background-color: #b89e95;
}

main .highlight {
	font-size: 1.1em;
	text-align: justify;
}

#project-list {
	text-align: center;
	margin: 0;
	padding: 0;
}

.project {
	width: 117px;
    min-height: 32px;
    display: inline-block;
    vertical-align: top;
    background-color: #6e444f;
    border-radius: 3px;
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #888;

    -webkit-animation: fadein 1s;
    animation fadein 1s;
}

.project:hover,
.project:focus {
	background-color: #744954;
}

.project a,
.project a:visited,
.project a:focus {
	text-decoration: none;
	color: #241b2e;
}

.project header h3 {
	color: #ccc;
	font-size: 0.9em;
	font-weight: 100;
	margin: 3pt 0;
}

.project .content {
	background-color: #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
}

.project .content p {
	display: block;
	margin: 3px;
}

.project .content img {
	width: 100%;
	max-height: 100%;
	-webkit-filter: none;
	filter: none;

	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.project a:hover .content img,
.project a:focus .content img {
	-webkit-filter: saturate(200%);
	filter: saturate(200%);

	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}